body {
    font-family: "rawline", helvetica, arial, sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.75;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        margin-top: 1cm;
        margin-bottom: 0.5cm
    }
}

.document {
    height: auto;
    width: 792px;
    background: #ffffff;
    color: #555;


}

.estruct {
    background: #808080;
    color: white;

}

.bodycard {
    border-color: white;
}
.navtop {
    margin-top: 20px;
    color: #0c326f;
}
